---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import logo from "images/logo.svg";
---

<header>
  <p>
    <a href="/"><img src={logo} alt={SITE_TITLE} /></a>
  </p>
  <p>{SITE_DESCRIPTION}</p>
</header>
<style>
  header {
    /* margin: 0em 0 2em; */
    border-bottom: 1px solid #ebebeb;
    padding: 1rem;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
